*{
  margin: 0;padding: 0;box-sizing: border-box;
}
.linkMain{
  width: 100%;
  height: 4rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;

}
.link ul li{
  display: inline;
  /* justify-content: space-around; */
  margin-right: 1rem;
  line-height: 4rem;
  font-size: 20px;
  
}
.link ul li a{
  color: #252525;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.active{
  color: royalblue;
}
.link ul li a:hover{
  color: royalblue;
}
.line{
  width: 1rem;
  height: .1rem;
  background-color: #252525;
}
.linkRight{
  line-height: 4rem;
  /* position: absolute; */
  margin-top: 1rem;
  display: none;
}
.line{
  margin-bottom:.4rem ;
  margin-right: 1rem;

}
button{
  width: 5rem;
  height: 2rem;
  border: 1px solid royalblue;
  background-color: aliceblue;
  cursor: pointer;
  font-size:14px ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (max-width: 800px){
  .link ul li{
    display: grid;
    justify-content: center;
  }
  .linkMain{
    height: 15rem;
  }
  .link {
    /* display: none; */
  }
  .linkRight{display: block;}
} 
.userlink{
  display: grid;
  justify-content: center;
}
.userlink img{
 
  width: 2rem;
  border-radius: 100px;
}
.userlink h2{
  font-size: 14px;
}